.card {
  position: relative;
  /* padding: 20px; */
  width: 400px;
  height: 500px;
  /* width: 600px; */
  /* max-width: 85vw; */
  /* height: 50vh; */
  border-radius: 5px;
  background-size: cover;
  background-position: center;
  /* box-shadow: 0px 18px 53px 0px rgba(0, 0, 0, 0.3); */
}

.card h3 {
  position: absolute;
  bottom: 5px;
  margin: 5px;
  color: white;
  font-size: 14px;
}

.tinderCards__cardContainer {
  display: flex;
  justify-content: center;
  /* margin-top: 5vh; */
}

/* stacks cards on top of each other */
.swipe {
  position: absolute;
}
